* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.breadcrumb a {
  color: rgb(102, 102, 102);
  opacity: 50%;

}

.container a {
  color: rgb(75, 74, 74);
  text-decoration: none;
}

.card {
  min-height: min-content;
}

.card small {
  font-size: .75rem;
}

.fs-small {
  font-size: 0.75rem;
}

a:hover {
  text-decoration: solid;
  opacity: 100%;
  transition: opacity 1s;
}

nav * {
  color: #fff;
}

nav .btn:hover {
  border: 1px solid #fff !important;
}

.breadcrumb {
  color: rgb(102, 102, 102)
}

.product-color {
  color: #e28637 !important;
}

.table {
  font-size: .85rem !important;
}

@media only screen and (max-width: 440px) {
  .input-group {
    width: 100% !important;
  }

  * {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.card-description-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-description-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-description.expanded {
  -webkit-line-clamp: unset;
}

.parallelogram {
  width: 40px;
  height: 24px;
  overflow: hidden;
  transform: skew(330deg);
  margin-left: -30px;
  background: white;
}

footer li {
  color: #e7e6e6;
}

.carouselExampleControls {
  padding: 5%;
}

.std {
  height: 180px !important;
  display: flex;
  align-items: center;
}

.image-box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  height: auto;
  transform: scale(1.1);
}

.image-box:hover img {
  transform: scale(1.2);
  border-radius: 20px;
}

.offcanvas a, .offcanvas h5, .offcanvas i{
  font-size: calc(.8rem + 0.2vw);
}